<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css"  type="text/css">
    <link rel = "icon" href = "https://media.istockphoto.com/photos/close-up-of-a-merged-israelipalestinian-flag-picture-id506429823?k=20&m=506429823&s=612x612&w=0&h=hHLeQrZxyhf5iBdzShsJqD242zhIJ3oD1jH18-QwC5k=" type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boycutt? Israel?</title>
</head>
<body>
    <header>
        <div class="header">
            <% objs.forEach(function(obj){ %>
                <form class="sub" action="https://boycott-israel.herokuapp.com/<%=obj.name %>" method="GET">
                    <input class="subBTN" type="submit" name="submit" value="<%=obj.name %>">
                </form>     
            <% }); %> 
        </div>
    </header>
    <main>
        <img src="https://media.istockphoto.com/photos/close-up-of-a-merged-israelipalestinian-flag-picture-id506429823?k=20&m=506429823&s=612x612&w=0&h=hHLeQrZxyhf5iBdzShsJqD242zhIJ3oD1jH18-QwC5k=" alt="peace">    
        <% objs.forEach(function(obj){ %>
            <h1><u><%=obj.name %></u></h1>
            <%let bool=true %>
            <% obj.arr.forEach(function(g,i=0){%>
                <%if(bool){%>
                    <div class="frame">
                        <% if(i%2==0){%>
                            <iframe src= "<%= g.url %>"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
                            <div class="text">
                                <h3><%=g.title %></h3>
                                <p><%=g.text %></p>
                            </div>
                        <%}else{%>
                            <iframe src= "<%= g.url %>"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
                            <div class="text">
                                <h3><%=g.title %></h3>
                                <p ><%=g.text %></p>
                            </div>
                        <%}%>
                    </div>
                <%} %>       
                <%if(i==1){bool=false}%>
            <%i++ }); %>   
        <% }); %> 
    </main> 
    <footer>
        <div>
            <h3>Disclaimer</h3>
            <p>The website has an idea its representing, and we beleve the idea is true, but there is many videos uploaded from many diffrent people, we take no resposibilty on every small fact on the website, you could always check online the facts</p>
        </div>
        <div>
            <h3>About us</h3>
            <p>This website was created to show a bit of the side of the Israeli's, I relized many people only see "The Conflict" from the Palastinian side, and dont acknowledge that there is a nother side of people who are trying to live, and are getting killed by terrorists</p>
        </div>
    </footer> 
</body>
</html>